<div class="chat">
    <div class="chat-side">
        <div class="contacts">
            <div class="indi-contact">
                <i class="bi bi-person-circle user"></i>
                <p>John Doe</p>
            </div>
            <div class="indi-contact">
                <i class="bi bi-person-circle user"></i>
                <p>John Doe</p>
            </div>

        </div>
    </div>
    <div class="chat-main">
        <div class="chat-main-upper">
            <div class="chat-messages">

            </div>
        </div>
        <div class="chat-main-lower">
            <input type="text" class="form-control message-input" placeholder="Send message...">
            <i class="bi bi-arrow-right send"></i>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.js"
    integrity="sha512-DkxSbrm2xe6jcerSwLA4vS8WV7UarP44UjrS+Yp2MRFE2md2qPLpZVTyoxHrM2mvZ2Ft2zhPUMplV20zNFXriQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>